*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contenedor{
    width:95%;
    max-width: 1000px;
    margin: auto;    
}
    .contenedor p{
        margin-bottom: 40px;
    }


header nav{
    background: #89AAC0;
    margin-bottom: 10px;
}
    header nav ul{
        list-style: none;
        overflow: hidden;
    }
    header nav ul li{
        float: left;
    }
        header nav ul li a{
            display: block;
            padding: 20px;
            color: #FCFCFC;
            text-decoration: none;
        }
        header nav ul  li a:hover {
            background: #B6BBC7;
        }

.menu-fixed{
    position: fixed;
    z-index: 1000px;
    top:0;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 2px 3px rgb(0, 0, 0.5);
}
