*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../img/Fondo.jpg');
    background-size: 100%;
}
.form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size:  20px;
}
.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}
.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.form-login p{
    height: 40px;
    text-align: right;
    border-bottom: 1px solid;
}
.form-login img{
    width: 10%;
    text-align: left;
    background: #4e4d4d;
}
.form-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover{
    text-decoration-style: underline;
}
/*---------------*/
.form-recup {
    width: 400px;
    height: 350px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.form-recup h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size:  20px;
}
.controls2 {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}
.buttons2 {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.form-recup p{
    height: 40px;
    text-align: left;
    border-bottom: 1px solid;
}
.form-recup img{
    width: 10%;
    text-align: left;
    background: #4e4d4d;
}
.form-recup a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.form-recup a:hover{
    text-decoration-style: underline;
}
/*---------------*/
.form-registro {
    width: 400px;
    height: 490px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.form-registro h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size:  20px;
}
.controls3 {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}
.buttons3 {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.form-registro p{
    height: 40px;
    text-align: left;
    border-bottom: 1px solid;
}
.form-registro img{
    width: 10%;
    text-align: left;
    background: #4e4d4d;
}
.form-registro a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.form-registro a:hover{
    text-decoration-style: underline;
}
/*---------------*/
.form-Index {
    width: 400px;
    height: 340px;
    background-image: url('../img/Team2.jpg');
    background-size: 100%;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color: white;
}
.form-Index h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size:  20px;
}
.form-Index p{
    height: 40px;
    text-align: center;
}
.form-Index a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.buttons4 {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.form-Index a:hover{
    text-decoration-style: underline;
}
.buttons_gen {
    width: 10%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.form-kpop p{
    height: 50px;
    text-align: left;
    border-bottom: 1px solid;
}
.form-kpop img{
    width: 10%;
    text-align: left;
    background: #4e4d4d;
}
.form-kpop a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.form-registro a:hover{
    text-decoration-style: underline;
}